In [1]:
from sklearn.neighbors import KNeighborsRegressor
import pandas as pd
import numpy as np

from main import import_dataset_from_file

In [2]:
knns = []

xyxyxy = []
zzz = []

for i in range(5):
    print(f'Loading dataset #{i+1}')
    df = import_dataset_from_file(f'../Data/Map_{i+1}.txt')
    X, y = df[['x', 'y']].values, df['z'].values

    if i == 0:
        xyxyxy.append(X)
        zzz.append(y)

    print('kNN training')
    knn = KNeighborsRegressor(n_neighbors=3, weights='distance', metric='l2')
    knn.fit(X, y)
    knns.append(knn)

Loading dataset #1
kNN training
Loading dataset #2
kNN training
Loading dataset #3
kNN training
Loading dataset #4
kNN training
Loading dataset #5
kNN training

In [3]:
points_df = import_dataset_from_file('../Data/Point_dataset.txt')
points_df

            x         y          z
0    44222.21  35600.90  14.974396
1    60003.40  26172.72  14.078868
2    44300.61  35291.79  14.261570
3    52776.47  33453.18  15.347562
4    49636.39  30697.34  14.422570
..        ...       ...        ...
436  65193.40  26832.74   9.374795
437  50022.04  40606.42   7.636603
438  43745.18  35114.25  14.622497
439  71483.43  25152.76  11.014532
440  51554.73  46308.47  16.902573

[441 rows x 3 columns]

In [4]:
cols = ['x', 'y', 'map1', 'map2', 'map3', 'map4', 'map5', 'F']
df = pd.DataFrame(columns=cols)
df[['x', 'y', 'F']] = points_df[['x', 'y', 'z']]
df

            x         y map1 map2 map3 map4 map5          F
0    44222.21  35600.90  NaN  NaN  NaN  NaN  NaN  14.974396
1    60003.40  26172.72  NaN  NaN  NaN  NaN  NaN  14.078868
2    44300.61  35291.79  NaN  NaN  NaN  NaN  NaN  14.261570
3    52776.47  33453.18  NaN  NaN  NaN  NaN  NaN  15.347562
4    49636.39  30697.34  NaN  NaN  NaN  NaN  NaN  14.422570
..        ...       ...  ...  ...  ...  ...  ...        ...
436  65193.40  26832.74  NaN  NaN  NaN  NaN  NaN   9.374795
437  50022.04  40606.42  NaN  NaN  NaN  NaN  NaN   7.636603
438  43745.18  35114.25  NaN  NaN  NaN  NaN  NaN  14.622497
439  71483.43  25152.76  NaN  NaN  NaN  NaN  NaN  11.014532
440  51554.73  46308.47  NaN  NaN  NaN  NaN  NaN  16.902573

[441 rows x 8 columns]

In [5]:
for i, knn in enumerate(knns):
    xy = df[['x', 'y']].values.astype(np.float32)
    df[f'map{i+1}'] = knn.predict(xy)

df

,x,y,map1,map2,map3,map4,map5,F
0,44222.21,35600.90,0.175929,0.127430,41.458771,4043.448864,1.680478,14.974396
1,60003.40,26172.72,0.149875,0.118674,36.271481,4198.754087,1.679998,14.078868
2,44300.61,35291.79,0.171362,0.131518,41.692007,4073.233191,1.680772,14.261570
3,52776.47,33453.18,0.138283,0.132405,37.210518,4297.798775,1.683071,15.347562
4,49636.39,30697.34,0.143128,0.118656,37.379303,4195.518866,1.678784,14.422570
...,...,...,...,...,...,...,...,...
436,65193.40,26832.74,0.155861,0.121589,35.599322,4269.420190,1.671148,9.374795
437,50022.04,40606.42,0.163543,0.136858,41.562588,4173.339045,1.670784,7.636603
438,43745.18,35114.25,0.178139,0.119245,41.885157,4028.255306,1.678766,14.622497
439,71483.43,25152.76,0.151131,0.118813,40.889881,4171.228645,1.679394,11.014532
440,51554.73,46308.47,0.159406,0.126828,36.493753,4177.329530,1.677363,16.902573

In [6]:
df.columns

Index(['x', 'y', 'map1', 'map2', 'map3', 'map4', 'map5', 'F'], dtype='object')

In [7]:
from sklearn.metrics import mean_squared_error


b = knns[4].predict(np.array(xyxyxy[0]))

mse = mean_squared_error(np.array(zzz[0]), b)
mse**0.5

1.5214710917419276

In [8]:
df.to_csv('../Data/new_dataset.csv')

In [9]:
df = pd.read_csv('../Data/new_dataset.csv', index_col=0)
df

,x,y,map1,map2,map3,map4,map5,F
0,44222.21,35600.90,0.175929,0.127430,41.458771,4043.448864,1.680478,14.974396
1,60003.40,26172.72,0.149875,0.118674,36.271481,4198.754087,1.679998,14.078868
2,44300.61,35291.79,0.171362,0.131518,41.692007,4073.233191,1.680772,14.261570
3,52776.47,33453.18,0.138283,0.132405,37.210518,4297.798775,1.683071,15.347562
4,49636.39,30697.34,0.143128,0.118656,37.379303,4195.518866,1.678784,14.422570
...,...,...,...,...,...,...,...,...
436,65193.40,26832.74,0.155861,0.121589,35.599322,4269.420190,1.671148,9.374795
437,50022.04,40606.42,0.163543,0.136858,41.562588,4173.339045,1.670784,7.636603
438,43745.18,35114.25,0.178139,0.119245,41.885157,4028.255306,1.678766,14.622497
439,71483.43,25152.76,0.151131,0.118813,40.889881,4171.228645,1.679394,11.014532
440,51554.73,46308.47,0.159406,0.126828,36.493753,4177.329530,1.677363,16.902573